@model DevFriends.Models.Projects.IndexViewModel

<div id="layout" class="pure-g">
	<div class="sidebar pure-u-1 pure-u-md-1-4">
		<div class="header">
			<h1 class="page-title">Dev ふれんず</h1>
			<h2 class="page-sub-title">あなたは、開発がお好きですか？</h2>
		</div>
	</div>
	<div class="content pure-u-1 pure-u-md-3-4">
		<div>
			<div class="projects">
				<h1 class="project-subhead">募集一覧</h1>
				@foreach (var projectWithContext in Model.ProjectsWithContext)
				{
					<section class="project">
						<header class="project-header">
							<h2 class="project-title">@projectWithContext.ProjectName</h2>
							<p class="project-meta">
								By <a href="#" class="project-owner">@projectWithContext.OwnerName</a> under
								@foreach (var tagName in projectWithContext.TagNames)
								{
									<a class="project-tag project-tag-tech">@tagName</a>
								}
							</p>
						</header>
						<div class="project-description">
							<p>
								@projectWithContext.ProjectDescription
							</p>
						</div>
						<div>
							<a class="pure-button">応募する</a>
							<a class="pure-button button-interested">興味ある</a>
						</div>
					</section>
				}
			</div>
		</div>
	</div>
</div>